<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="script2.js" defer></script>
    <link rel="stylesheet" href="/css/home.css">
    <title>Document</title>
</head>
<body>
    <% if (locals.user){ %>
        
        <div class="main">
            <div class="main__left">
                <h1 id="head2">Welcome To Teams</h1>
                <div class="left">
            <div class="main__left_1">
                
   <h2>Create A Team</h2>
    <form action="/home" id="new-post-form" method="POST">
        Room Name
        <br>
        <input type="text" name="name" placeholder="Your Name" required>
        <br>
        Password
        <br>
        <input type="password" name="password"  required>
        <br>
        Confirm Password
        <br>
        <input type="password" name="confirm_password"  required>
        <br>
        <br>
        <input type="submit" value="Create Team">
    </form>
    <br>
    </div>
    <div class="main__left_2">
    <h2>Join A Team</h2>
    <form action="/join" id="new-post" method="POST">
        Team Unic Id
        <br>
        <input type="text" name="name" placeholder="Id" required>
        <br>
        Password
        <br>
        <input type="password" name="password"  required>
        <br>
        <br>
        <input type="submit" value="Join Team">
    </form>
    <br><br>
    </div>
    </div>
</div>
    <div class="main__right">
        <h3>Your Teams</h3>
    <div class="Teams-list">
        <ul id="Teams">
                <% for (team of teams){%>
                   <li>
                    <a href="<%=team._id %>/home">  <%= team.name %> </a>
                   </li> 
               <%} %>
        </ul>
    </div>
    </div>
    </div>

    <%} %>
    <% if(!locals.user){ %>
        <h4 id="First-line">Meet, chat, call, and collaborate in just one place.</h4>
        <div id="home1">
            <div id="part1">
                <br><br><br>
                <h1 id="Team-name">Teams Clone</h1>
                <h2> We are delighted  you are here.</h2> 
                <h2> Sign up with us and start enjoying full features of teams for free.</h2>
                <div class="link-btn">
                <a class="btn1" href="/users/sign-up">Sign Up</a>
                <a class="btn1" href="/users/sign-in">Sign In</a>
            </div>
            </div>
            <div id="part2">
                <img src="/img/RWDeEK.webp" alt="no" id="pic1">
            </div>
            
           
        </div>


       
    <%} %>
</body>
</html>