<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Room Id: <%=roomId%></h1>
    Share your room id with your friends to let them join the room.
    <a href="/<%=roomId%>">Video Call</a>
</body>
</html>