<link rel="stylesheet" href="/css/user_sign_in.css">
<section>
<h3 style="color: white;">Log in to GameSpace</h3>

<form action="/users/create-session" method="POST">
    E-Mail
    <br>
    <input type="email" name="email" placeholder="Email"  required>
   <br>
    Password
    <br>
    <input type="password" name="password" placeholder="Password"  required><br>
    <br>
    <input type="submit" value="Sign In">

</form> 
</section>