    .main {
     min-height: 90%;
      display: flex;
    }

    .options{
      cursor: pointer;
    }
    
    
    .main__left {
      flex: 0.8;
      display: flex;
      flex-direction: column;
      color: #D2D2D2;
        background-color: black;
    }

    .main__left__top{
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      padding: 40px;
      height: 600px;
      overflow-y: scroll;
    }

    .main__left__top__1{
      display: flex;
      flex-direction: row;
    }

    .main__left__top_2{
      display: flex;
      flex-direction: column;
    }

    .details{
      flex: 0.8;
    }

    .op-list{
      flex: 0.2;
    }
    
    hr{
      color: white;
      width: 10px;
      border: 10px white solid;
    }


    .main__controls {
      color: #D2D2D2;
      background-color: #1C1E20;
      display: flex;
      padding: 5px;
      justify-content: space-between;
  }

  .posts_each{
    padding-left: 5px;
    margin-bottom: 5px;
    border: 5px solid white;
  }

  .posts_each:hover{
    border-radius: 2%;
  }

textarea {
  width: 1150px;
  resize: none;
}

#post{
  position: relative;
  bottom: 8px;
  left: 7px;
}

.main__right {
  flex: 0.2;
  display: flex;
     flex-direction: column;
     background-color: #242324;
     color: white;
}

#r1{
display: flex;
}

#r2{
display: none;
}

.main__header {
  color: #F5F5F5;
  text-align: center;
}

.main__chat__window {
  flex-grow: 1;
  overflow-y: scroll;
}

.main__message__container {
  padding: 22px 12px;
  display: flex;
}

.main__message__container input {
 flex-grow: 1;
 background-color: transparent;
 border: none;
 color: #f5f5f5;
}

.messages {
  color: white;
  list-style: none;
}

